			
	/* Hoja de estilos para Selectores Avanzados 1. */		
			
			-p::first-letter{font-size:25pt}
			-.pdiv1::first-line{color:blue}	
			-h1::before{content:url(../imagenes/guitarra.png);}
			-h1::after{content:url(../imagenes/sol.png);}
			-.pdiv1::before{content:"El científico ";}			
			-#lista1 :first-child{font-weight:bold; text-decoration:underline}
			-ul :first-child{color:navy;}
			-#lista2 li:first-of-type{font-style:italic; color:#5ba0e2;}
			-#lista1 :last-child{color:orange}
			-#lista1 li:last-of-type{color:orange}/*Equivale al anterior*/
			-#lista1 li:nth-of-type(5){color:lime;}
			-#lista1 li:nth-of-type(odd){color:lime;}
			-#lista1 li:nth-of-type(even){color:lime;}
			-#lista2 :nth-child(3){color:green;}
			-#lista2 :nth-child(even){font-size:18pt;}
			-#lista2 :nth-child(odd){text-decoration:underline;}
			-#div1 p:nth-of-type(2) {color: #864cda;}
			-#div1 p{ color: lime;  background-color: black;  padding: 5px;}
			-.pdiv1{ color: lime;  background-color: black;  padding: 5px;}/*Equivale al anterior*/
			-#div1 p:last-of-type { color: lime;  background-color: black;  padding: 5px;}
			-#div1 :first-child {color: white;  background-color: black;}
			-ul :nth-last-child(4){background-color:#da4cd8;}
			-#lista2 li:nth-last-of-type(2){background-color:orange;}			
			-ul[title]{background-color:orange;}			
			-ul[title ^="lis"]{text-decoration:overline;}
			-div[title ="contenedor 1"]{font-size:20pt;}
			-div[title ^="cont"]{text-decoration:overline;}
			-div[title $="2"]{font-family:verdana; font-size: 8pt;}
			-*[title $="1"]{font-style:italic;}
			-*[title *="do"]{color:gray;}
			-*[title *="te"]{border:2px dotted black;}			
			-div:not(#div1){color:pink}
			-p::selection{background-color:yellow;}
			-*[title ~="primero"]{text-decoration:underline;}